@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans&family=Playpen+Sans&family=Prompt&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap'); */

* {
	font-family: "Prompt", sans-serif;
	font-weight: 400;
	font-style: normal;
	/* font-family: 'Mali', cursive; */
	/* @apply noselect; */
}
.set-bg {
	width: 100%;
	height: 100%;
	/* background-image: radial-gradient(ellipse, rgba(250, 250, 250, 1) 0%, rgba(165, 168, 172, 1) 100%); */
	background: url("https://xenonhub.pro/assets/video/background.mp4");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: fixed;
	z-index: -1;
}
.font-itim {
	font-family: 'Itim', cursive !important; 
}
.font-playpen {
	font-family: 'Playpen Sans', cursive !important;
}
.font-prompt {
	font-family: 'Prompt', sans-serif !important;
}
.font-sriracha {
	font-family: 'Sriracha', cursive !important;
}
.font-josefin {
	font-family: 'Josefin Sans', sans-serif !important;
}
.font-fchome {
	font-family: "FcHome", sans-serif !important;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Edge, Opera and Firefox */
}

/* Y Overflow */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: white;
	border-radius: 50px;
}

/* X Overflow */
::-webkit-scrollbar:horizontal {
    height: 5px; 
}
::-webkit-scrollbar-track:horizontal {
    background: rgb(230, 230, 230);
}
::-webkit-scrollbar-thumb:horizontal {
    background: #ff925b;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:horizontal:hover {
    background: #ff5d0b;
    border-radius: 50px;
}
@font-face {
	font-family: "FcHome";
	src: url("./assets/fonts/FC-Home/FC_Home_Regular.ttf") format('truetype');
}